@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '~react-toastify/dist/ReactToastify.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.react-select-dd__input:focus {
    box-shadow: none;
}

.react-select-dd__control {
    border-radius: 6px !important;
    padding: 1.5px !important;
}


.react-select__input:focus {
    box-shadow: none;
}

.react-select__control {
    border-radius: 6px !important;
    padding: 1.5px !important;
}

div:has(.react-select-dd__control):not(.panel) {
    width: 100% !important;
}


